@import './../../../main-styles';

.page-title-wrap {
  overflow: hidden;
  padding: 26px 0 26px 0px;
  .header1 {
    float: left;
  }
  btn-primary-with-icon {
    float: right;
  }
}

section.json-viewer-container {
  position: relative;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(180, 180, 211, .4);
  padding: 20px;
  height: 65vh;
  width: 100%;
  overflow-y: scroll;
}

.section-centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.section-header {
  display: flex;
  justify-content: flex-end;
}

.expandbtn{
  margin: 0.55rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

// tabs
.json-viewer-list {
  padding-left: 25px;
  padding-top: 20px;
  overflow: hidden;
  &.collapsed {
    display: none;
  }
}

.json-viewer-row {
  padding: 5px 0 5px 5px;
  border-top: 1px solid #ddd;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.json-viewer-element {
  position: relative;
  &.primitive {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.json-header {
  display: inline-block;
  color: #ed008c;
  font-weight: 800;
  font-size: 16px;
}

// toggle

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 18px;
  left: 4px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
